.edit-delete-icons {
  display: flex;
  flex-direction: row;

  .edit-icon {
    color: #6b03fc;
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  .delete-icon {
    color: #fc030f;
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
  }
}